__pycache__/
*.log
tmp.requirements.txt
helpers.egg-info/PKG-INFO
helpers.egg-info/SOURCES.txt
helpers.egg-info/top_level.txt
.coverage
.DS_Store
dependency_graph.dot
dependency_graph.svg
report.txt
report_cycles.txt
report_max_level.txt
i
